<% if set.sub_sets || set.entries.any? %>
  <tr class="entry-group-rows <%= 'with-subsets' if set.sub_sets %> <%= 'root-set' if set.root_set? %>">
    <td class="first-col"><%= budget_sheet_header_label(time_entry_groups.groups[set.index])  %></td>
    <td colspan="<%= time_entry_groups.columns.size+1 %>" width="20%"><%= set.field_name.replace_entities %></td>
  </tr>
<% end %>

<% if set.sub_sets %>
  <% set.sub_sets.each do |subset| %>
    <%= render "better_budgetsheets_factura/rows_for_set", set: subset, time_entry_groups: time_entry_groups %>
  <% end %>
<% elsif set.entries.any? %>

    <tr>
      <% @time_entry_groups.columns.each do |col_name| %>
        <th><%= budget_sheet_header_label(col_name) %></th>
      <% end %>
    </tr>

  <% set.entries.each do |time_entry| %>
    <tr class="<%= cycle('odd', 'even') %>">
      <% time_entry_groups.columns.each do |col| %>
        <%= bugdet_sheet_column_for(time_entry, col) %>
      <% end %>
    </tr>
  <% end %>
<% end %>
<% reset_cycle %>