<% if set.sub_sets || set.entries.any? %>
  <tr class="entry-group-rows <%= 'with-subsets' if set.sub_sets %> <%= 'root-set' if set.root_set? %>">
    <td colspan="<%= time_entry_groups.columns.size+2 %>" class="root-header-container">
      <table>
        <tr>
          <td class="first-col"><%= budget_sheet_header_label(time_entry_groups.groups[set.index])  %>:</td>
          <td ><%= set.field_name.replace_entities %></td>
        </tr>
      </table>
    </td>  
  </tr>
<% end %>

<% if set.sub_sets %>
  <% set.sub_sets.each do |subset| %>
    <%= render "better_budgetsheets_factura/rows_for_set", set: subset, time_entry_groups: time_entry_groups %>
  <% end %>
<% elsif set.entries.any? %>
  <%= render "better_budgetsheets_factura/entries_row", entries: set.entries, time_entry_groups: time_entry_groups %>  
<% end %>
<% reset_cycle %>