<tr class="entry-group-rows">
  <td><%= time_entry_groups.groups[set.index]  %></td>
  <td colspan="" width="20%"><%= set.field_name %></td>
  <td colspan="<%= time_entry_groups.columns.size %>"></td>
</tr>
<% if set.sub_sets %>
  <% set.sub_sets.each do |subset| %>
    <%= render "better_budgetsheets_factura/rows_for_set", set: subset, time_entry_groups: time_entry_groups %>
  <% end %>
<% else %>
  <% set.entries.each do |time_entry| %>
    <tr>
      <td colspan="2"></td>
      <% time_entry_groups.columns.each do |col| %>
        <td><%= bugdet_sheet_display_value_for(time_entry, col) %></td>
      <% end %>
    </tr>
  <% end %>
<% end %>