<style type="text/css">
.factura-sheet { font-size: 16px;}
.factura-sheet td,
.factura-sheet th { padding: 4px; text-align: left;}
.factura-sheet th { border-bottom: solid 1px #000; }
tr.entry-group-rows td { background: #fff; font-weight: bold; border-bottom: solid 1px #000;}
tr.entry-group-rows.root-set td,
tr.root-set-seperator td { border-top: solid 1px #000; }
tr.root-set-seperator td { height: 40px; background: #fff;}

tr.entry-group-rows.with-subsets td { border-bottom: none; }
tr.entry-group-rows td.first-col { width: 300px;}
table tfoot td { border-top: solid 2px #000; }
tr.even td {background: #efefef;}
td.text-right { text-align: right;}
td.root-header-container { padding: 0;}
td.root-header-container table { border: none;}
</style>

<h1><%= @query_name %></h1>

<% @summed_up_values ||= {} %>

<table class="factura-sheet">
  <% if @time_entry_groups.root_sets.any? %>
    <% @time_entry_groups.root_sets.each_with_index do |set, i| %>
        <%= render "better_budgetsheets_factura/rows_for_set", set: set, time_entry_groups: @time_entry_groups %>
        <% if i+1 != @time_entry_groups.root_sets.size %>
          <tr class="root-set-seperator">
            <td colspan="<%= @time_entry_groups.columns.size %>">&nbsp;</td>
          </tr>
        <% end %>
    <% end %>
  
  <% else %>
    <%= render "better_budgetsheets_factura/entries_row", entries: @time_entry_groups.entries, time_entry_groups: @time_entry_groups %>  
  <% end %>


    <tr class="sum-last-row">
      <% @time_entry_groups.columns.each_with_index do |col_name,i| %>

          <% if i == 0 && @summed_up_values[col_name].blank? %>
            <td>
              <%= I18n.t("better_budgetsheets_sum") %>
            </td>
          <% else %>
            <td class="text-right">
              <% if @summed_up_values[col_name] && @summed_up_values[col_name].keys.any? %>
                <% @summed_up_values[col_name].each do |key, value |%>
                  <%= value.is_a?(Integer) ? value.to_de : value.to_euro(key) %><br />
                <% end %>
              <% end %>
            </td>
          <% end %>

      <% end %>
    </tr>

</table>