<style type="text/css">
.factura-sheet { font-size: 16px;}
.factura-sheet td,
.factura-sheet th { padding: 4px;}
tr.entry-group-rows td { background: #fff; font-weight: bold; border-bottom: solid 1px #000;}
tr.entry-group-rows.root-set td,
tr.root-set-seperator td { border-top: solid 1px #000; }
tr.root-set-seperator td { height: 40px; background: #fff;}

tr.entry-group-rows.with-subsets td { border-bottom: none; }
tr.entry-group-rows td.first-col { width: 3%;}
table tfoot td { border-top: solid 2px #000; }
</style>

<h1><%= @query_name %></h1>

<% @summed_up_values ||= {} %>

<table class="factura-sheet">

  <% @time_entry_groups.root_sets.each_with_index do |set, i| %>
    <thead>
      <tr>
        <% @time_entry_groups.columns.each do |col_name| %>
          <th><%= budget_sheet_header_label(col_name) %></th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <%= render "better_budgetsheets_factura/rows_for_set", set: set, time_entry_groups: @time_entry_groups %>
      <% if i+1 != @time_entry_groups.root_sets.size %>
        <tr class="root-set-seperator">
          <td colspan="<%= @time_entry_groups.columns.size %>">&nbsp;</td>
        </tr>
      <% end %>
    </tbody>
  <% end %>

  <tfoot>
    <tr class="sum-row">
      <td colspan="<%= @time_entry_groups.columns.size %>"><%= I18n.t("better_budgetsheets.sum") %></td>
    </tr>
    <tr class="sum-last-row">
      <% @time_entry_groups.columns.each do |col_name| %>

          <td class="text-right">
            <% if @summed_up_values[col_name] %>

              <%= @summed_up_values[col_name].to_euro(budget_sheet_number_suffix(col_name)) %>
            <% end %>
          </td>

      <% end %>
    </tr>
  </tfoot>
</table>